In [1]:
# import library
import pandas as pd
import numpy as np

In [2]:
# load test data into df
df = pd.read_csv("data/train.csv") 
# df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [3]:
dfNotNullAge   = df[ df['Age'].notnull()]
dfNotNullAge.Survived.value_counts()
dfNotNullAge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    714 non-null int64
Survived       714 non-null int64
Pclass         714 non-null int64
Name           714 non-null object
Sex            714 non-null object
Age            714 non-null float64
SibSp          714 non-null int64
Parch          714 non-null int64
Ticket         714 non-null object
Fare           714 non-null float64
Cabin          185 non-null object
Embarked       712 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 72.5+ KB

In [4]:
# consider Age not null for Training
df_full=df.copy()
df= dfNotNullAge

In [5]:
# Cabin is contians much null values, drop it form df
# df = df.drop(['Cabin'],axis=1)
# df.info()
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
# make caterogal to numric
# cast male, female to 0,1
# Training set
df.loc[df["Sex"] == "male", "Sex"] = 0
df.loc[df["Sex"] == "female", "Sex"] = 1
# df=df['Embarked'].fillna('C')
df["Embarked"] = df["Embarked"].fillna('S') 
# cast Embarked 
df.loc[df["Embarked"] == "S", "Embarked"] = 0
df.loc[df["Embarked"] == "C", "Embarked"] = 1
df.loc[df["Embarked"] == "Q", "Embarked"] = 2
# drop PassengerId, Name, Ticket
df= df.drop( ['PassengerId','Name', 'Ticket','Cabin'],axis= 1)

In [7]:
df.head()

   Survived  Pclass Sex   Age  SibSp  Parch     Fare Embarked
0         0       3   0  22.0      1      0   7.2500        0
1         1       1   1  38.0      1      0  71.2833        1
2         1       3   1  26.0      0      0   7.9250        0
3         1       1   1  35.0      1      0  53.1000        0
4         0       3   0  35.0      0      0   8.0500        0

In [8]:
df.head()

   Survived  Pclass Sex   Age  SibSp  Parch     Fare Embarked
0         0       3   0  22.0      1      0   7.2500        0
1         1       1   1  38.0      1      0  71.2833        1
2         1       3   1  26.0      0      0   7.9250        0
3         1       1   1  35.0      1      0  53.1000        0
4         0       3   0  35.0      0      0   8.0500        0

In [9]:
# working to prepare test data
#  split data 
from sklearn.cross_validation import train_test_split

X = df.drop('Survived',1)
X_train, X_test, Y_train, Y_test = train_test_split(X, df["Survived"], random_state=42)
print(X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)

(535, 7) (179, 7) (535,) (179,)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [10]:
dfTest=df_full[df_full.Age.isnull()]
dfTest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 177 entries, 5 to 888
Data columns (total 12 columns):
PassengerId    177 non-null int64
Survived       177 non-null int64
Pclass         177 non-null int64
Name           177 non-null object
Sex            177 non-null object
Age            0 non-null float64
SibSp          177 non-null int64
Parch          177 non-null int64
Ticket         177 non-null object
Fare           177 non-null float64
Cabin          19 non-null object
Embarked       177 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 18.0+ KB

In [11]:
# Training set
dfTest.loc[dfTest["Sex"] == "male", "Sex"] = 0
dfTest.loc[dfTest["Sex"] == "female", "Sex"] = 1
# df=df['Embarked'].fillna('C')
df["Embarked"] = df["Embarked"].fillna('Q') 
# cast Embarked 
dfTest.loc[dfTest["Embarked"] == "S", "Embarked"] = 0
dfTest.loc[dfTest["Embarked"] == "C", "Embarked"] = 1
dfTest.loc[dfTest["Embarked"] == "Q", "Embarked"] = 2

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:477: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [12]:
# drop PassengerId, Name, Ticket
dfTest= dfTest.drop( ['PassengerId','Name', 'Ticket','Cabin'],axis= 1)

In [13]:
dfTest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 177 entries, 5 to 888
Data columns (total 8 columns):
Survived    177 non-null int64
Pclass      177 non-null int64
Sex         177 non-null object
Age         0 non-null float64
SibSp       177 non-null int64
Parch       177 non-null int64
Fare        177 non-null float64
Embarked    177 non-null object
dtypes: float64(2), int64(4), object(2)
memory usage: 12.4+ KB

##  fix missed values in Age

In [14]:
from sklearn.linear_model import LinearRegression
lreg = LinearRegression()
X = df.drop('Age',1)
Y_target=df.Age
lreg.fit(X,Y_target)
predicted_age = lreg.predict(dfTest.drop('Age',1))


dfTest['Age']=predicted_age
dfTest.head()

    Survived  Pclass Sex        Age  SibSp  Parch     Fare Embarked
5          0       3   0  28.820233      0      0   8.4583        2
17         1       2   0  30.141538      0      0  13.0000        0
19         1       3   1  22.350124      0      0   7.2250        1
26         0       3   0  28.977637      0      0   7.2250        1
28         1       3   1  22.201253      0      0   7.8792        2

In [15]:
Y_test=dfTest['Survived']
X_test=dfTest.drop('Survived',1)

# LogisticRegression

In [16]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(random_state=1)
model.fit(X_train,Y_train)
print(model.coef_)
print('Precision: ',model.score(X_test, Y_test))

[[-0.98933894  2.5259806  -0.040069   -0.33418259 -0.09182468  0.00375894
   0.22141952]]
Precision:  0.83615819209

# Random Forest Regressor

In [17]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import roc_auc_score
model = RandomForestRegressor(n_estimators=98,oob_score=True,n_jobs=-1,random_state=42)
model.fit(X_train,Y_train)
print('C-state: ' , roc_auc_score (Y_train,model.oob_prediction_))

C-state:  0.8611553266